<div class="row mb-4">
  <h2 class="text-center">Add New Post</h2>
  <form #postForm="ngForm">
    <div class="mb-2 input-group">
      <input
        class="form-control"
        placeholder="Post Title"
        name="title"
        required
        ngModel
      />
    </div>
    <div class="mb-2 input-group">
      <textarea
        class="form-control"
        placeholder="Post Content"
        name="content"
        required
        ngModel
      ></textarea>
    </div>
  </form>
  <button class="btn btn-primary" (click)="onClickCreate(postForm)">Create</button>
</div>
