<app-product-add></app-product-add>
<hr />
<ul class="list-group">
  <li class="list-group-item" *ngFor="let product of products">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-subtitle text-muted">
          {{ product.price | currency: "IDR":"Rp" }}
        </p>
      </div>
      <div>
        <button class="btn btn-primary" (click)="addToCart.emit(product)">
          Add To Cart
        </button>
      </div>
    </div>
  </li>
</ul>
