nav {
  padding: 2rem;
}

.container {
  width: 80%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem

  h1 {
    font-size: 36px;
    line-height: 1.5;
  }

  p {
    font-size: 18px;
    line-height: 1.75;
  }
}