<div class="container">
  <app-task-create (newTask)="onNewTask($event)"></app-task-create>
  <div class="row">
    
    <app-task-to-do-list
      class="col"
      [tasksToDo]="todo"
      (marktaskInProgress)="onTaskMarkInProgress($event)"
    ></app-task-to-do-list>

    <app-task-in-progress-list
      class="col"
      [tasksInProgress]="inProgress"
      (markTaskDone)="onTaskMarkDone($event)"
    ></app-task-in-progress-list>
    <app-task-done-list
      class="col"
      [tasksDone]="done"
      (delete)="onTaskDelete($event)"
    ></app-task-done-list>
  </div>
</div>
