header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;

  h1 {
    margin: 0
  }
}

table[mat-table] {
  width: 100%;

  th:not(:first-child), td:not(:first-child) {
    padding: 0 1rem;
  }
}