<form [formGroup]="newProductForm" (ngSubmit)="onSubmit(); $event.preventDefault()">
  <p class="mb-1">Add new product</p>
  <div class="input-group mb-2">
    <input type="text" formControlName="name" class="form-control" placeholder="Name..." />
  </div>
  <div class="input-group">
    <span class="input-group-text">Rp</span>
    <input type="number" formControlName="price" class="form-control" placeholder="Price..." />
    <button type="submit" class="btn btn-primary">Add New Product</button>
  </div>
</form>
